.cart {
  background-color: #333333d5;
  color: #e9e102;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid rgba(0, 77, 102, 0.7);
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cart h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.cart button {
  padding: 0.5rem;
  margin: 1rem;
  text-decoration: none;
  color: #004d66;
  text-align: center;
  background-color: bisque;
  font-size: 1.2rem;
  width: 8rem;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.cart button:hover {
  background-color: #e0c9b3;
}

.finalizar {
  padding: 0.5rem;  
  margin: 1rem;  
  text-decoration: none;
  color: #004d66;
  text-align: center;
  background-color: bisque;
  font-size: 1.2rem;
  width: 8rem;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.finalizar:hover {
  background-color: #e0c9b3;
}

.verP{
  padding: 0.5rem;
  color: black;
  border: 1px solid rgba(0, 77, 102, 0.7);
  background-color: bisque;
  border-radius: 16px;
}

.verP:hover{
  background-color: #e0c9b3;
}