header.navbar{
    padding: 0px;
    color: rgb(252, 224, 99);
}
header div{
    background-color: #111111;
}


a:link { text-decoration: none; }

.navLink{
    text-decoration: none;
    color: rgb(252, 224, 99);
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.logoh1{
    text-decoration: none;
    color: rgb(252, 224, 99);
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
li{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.navbar-toggler{
    background:rgb(252, 224, 99);
}
